{
	"applications": {
		"example_php": {
			"type": "php",
			"user": "nobody",
			"processes": 2,
			"root": "/usr/share/doc/unit-php/examples/phpinfo-app",
			"index": "index.php"
		},
		"ptest": {
			"type": "php",
			"user": "v1ns3nt0",
			"group": "www-data",
			"root": "/var/www/ptest.jp/public/",
			"index": "index.php",
			"script": "index.php",
			"processes": {
				"max": 50,
				"spare": 50
			},
			"options": {
				"file": "/etc/php/7.4/cli/php.ini"
			}
		}
	},

	"listeners": {
		"*:8300": {
			"pass": "applications/example_php"
		},
		"*:8080": {
			"pass": "routes/ptest"
		}
	},

	"routes": {
	        "ptest": [
	            {
	                "match": {
	                    "uri": "!/index.php"
	                },
	                "action": {
	                    "share": "/var/www/ptest.jp/public/",
	                    "fallback": {
	                        "pass": "applications/ptest"
	                    }
	                }
	            }
	        ]
	 }
}
